#controlbar{
	border: 1px solid black;
	padding: 5px;
}

#inputarea{
	display: flex;
	height: 30px;
	margin: 5px;
	vertical-align: 50%;
	justify-content: space-between;
	border: 1px solid black;
}

#buttonarea{
	display: flex;
	height: 30px;
	margin: 5px;
	vertical-align: 50%;
	justify-content: space-between;
	border: 1px solid black;
}

#ssidsarea{
	border: 1px solid black;
	height: 50px;
	margin: 5px;
}

.ssid{
	margin: 5px;
	border: 1px solid black;
	display: inline-block;
}

.removessid{
	border: 1px solid black;
	background-color: red;
	width: 25px;
	height: 25px;
	display: inline-block;
	margin: 5px;
}

#epochcontainer{
	display: flex;
}

.epochcontainer{
	display: flex;
}

.afterepoch{
	flex: 0 0 50%;
	margin: 5px;
	display: inline-block;
}

#afterepocharea{
	flex: 0 0 50%;
	border: 1px solid black;
	height: 35px;
	margin: 5px;
	vertical-align: middle;
}

.beforeepoch{
	flex: 1;
	margin: 5px;
	display: inline-block;
}

#beforeepocharea{
	flex: 1;
	border: 1px solid black;
	height: 35px;
	margin: 5px;
	vertical-align: middle;
}

.removeafterepoch{
	border: 1px solid black;
	background-color: red;
	width: 25px;
	height: 25px;
	display: inline-block;
	margin: 5px;
}

.removebeforeepoch{
	border: 1px solid black;
	background-color: red;
	width: 25px;
	height: 25px;
	display: inline-block;
	margin: 5px;
}


